body {
  background: url("https://static01.nyt.com/images/2012/10/18/garden/18KITCHEN_SPAN/18KITCHEN-superJumbo.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 25px;
  color: rgba(35, 35, 163, .9);
  background-color: rgba(250, 250, 250, 0.95);
  font-weight: 600;
  border-radius: 10px;
}

.js-box {
  box-sizing: border-box;
  width: 60%;
  margin: auto;
  /* background-color: rgba(9, 226, 132, .7); */
  background-color: rgba(35, 35, 163, .7);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  background-color: white;
  margin-top: 20px;
}

button:hover {
background-color: rgba(35, 35, 163, .9);
color: white;
cursor: pointer;
}

.answerOption {
display: block;
padding: 10px 0 10px 0;
}

.answerOption:hover {
background-color: rgba(35, 35, 163, .9);
font-weight: 600;
cursor: pointer;
}

.quizPage {
  display: none;
}

.questionForm {
border: none;
text-align: left;
font-size: 20px;
margin-bottom: 20px;
}

.answerDisplay {
font-size: 20px;
}

img {
height: auto;
max-width: 100%;
}

input[type="radio"] {
margin-right: 10px;
}

input[type="radio"] span {
margin-bottom: 20px;
}
.submitQuestion {
margin-left: 40%;
}

.incorrect {  
background-color: red;
}

.correctAnswer {
background-color: green;
}

.resultsPage {
font-size:20px;
}

fieldset {
border: none;
}