body {
    background: url("https://static01.nyt.com/images/2012/10/18/garden/18KITCHEN_SPAN/18KITCHEN-superJumbo.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

input[type="radio"] {
    margin-bottom: 9px; 
}

.question {
  display: border-box;
  width: 400px;  
  border: 2px solid black;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  text-align: left;
}

.submitAnswerButton {
    text-align: center;
}

.answerDisplay {
    display: border-box;
    margin: auto;
    margin-top: 30px;
    border: 5px solid black;
    width: 400px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    
}

.correctAnswerImage {
    width: 300px;
    height: 200px;
}


.incorrectAnswerImage {
    width: 200px;
    height: 200px;
}

.startEndOfQuiz {
    display: border-box;
    margin: auto;
    margin-top: 30px;
    border: 5px solid black;
    width: 400px;
    background-color: white;
    padding-bottom: 10px;
}